.sprite-container {
    display: flex;         /* This makes the sprite-container a flex container */
    justify-content: space-around;  /* This spaces the child divs (normal-sprite and shiny-sprite) evenly */
}

.normal-sprite, .shiny-sprite {
    display: flex;         /* This makes the child divs flex containers */
    flex-direction: column;   /* This makes children stack vertically */
    align-items: center;   /* This vertically aligns the items to the center */
    gap: 10px;             /* This provides a gap between the p tag and img */
    justify-content: space-around;
}
.normal-sprite h3, .shiny-sprite h3 {
    margin-bottom: 10px;   /* This adds a 10px space below the p tag */
}

